<div class="container mt-4">
  <form [formGroup]="createForm">
    <div class="row">
      <div class="col-md-4 mb-3">
        <label class="mb-1">Name</label>
        <input type="text" class="form-control" formControlName="name" />

        @if (createForm.get('name')?.hasError('required') && createForm.get('name')?.touched) {
        <small class="text-danger">
          Name is required.
        </small>
        }

      </div>
      <div class="col-md-4 mb-3">
        <label class="mb-1">Company Name</label>
        <input type="text" class="form-control" formControlName="company_name" />

        @if (createForm.get('company_name')?.hasError('required') && createForm.get('company_name')?.touched) {
        <small class="text-danger">
          Company Name is required.
        </small>
        }

      </div>
      <div class="col-md-4 mb-3">
        <label class="mb-1">Mobile No</label>
        <input type="text" class="form-control" formControlName="mobile_no" />

        @if (createForm.get('mobile_no')?.hasError('required') && createForm.get('mobile_no')?.touched) {
        <small class="text-danger">
          Mobile Number is required.
        </small>
        }

        @if (createForm.get('mobile_no')?.hasError('pattern') &&(!createForm.get('mobile_no')?.hasError('required')) && createForm.get('mobile_no')?.touched) {
          <small class="text-danger">
            Please, Enter 10 digit Mobile Number.
          </small>
          }
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 mb-3">
        <label class="mb-1">Telephone No</label>
        <input type="text" class="form-control" formControlName="telephone_no" />

        @if (createForm.get('telephone_no')?.hasError('required') && createForm.get('telephone_no')?.touched) {
        <small class="text-danger">
          Telephone No is required.
        </small>
        }

        @if (createForm.get('telephone_no')?.hasError('pattern') &&(!createForm.get('telephone_no')?.hasError('required')) && createForm.get('telephone_no')?.touched) {
          <small class="text-danger">
            Please, Enter 10 digit Telephone Number.
          </small>
          }
      </div>
      <div class="col-md-4 mb-3">
        <label class="mb-1">Whatsapp No</label>
        <input type="text" class="form-control" formControlName="whatsapp_no" />

        @if (createForm.get('whatsapp_no')?.hasError('required') && createForm.get('whatsapp_no')?.touched) {
        <small class="text-danger">
          Whatsapp No is required.
        </small>
        }

        @if (createForm.get('whatsapp_no')?.hasError('pattern') &&(!createForm.get('whatsapp_no')?.hasError('required')) && createForm.get('whatsapp_no')?.touched) {
          <small class="text-danger">
            Please, Enter 10 digit Whatsapp Number.
          </small>
          }

      </div>
      <div class="col-md-4 mb-3">
        <label class="mb-1">Email</label>
        <input type="text" class="form-control" formControlName="email" />

        @if (createForm.get('email')?.hasError('required') && createForm.get('email')?.touched) {
          <small class="text-danger">
            Email ID is required.
          </small>
          }

        @if (createForm.get('email')?.hasError('email') && createForm.get('email')?.touched) {
        <small class="text-danger">
          Please enter a valid email address
         </small>
        }


      </div>
    </div>

    <div class="row">
      <div class="col-md-4 mb-3">
        <label class="mb-1">Remark</label>
        <input type="text" class="form-control" formControlName="remark" />

        @if (createForm.get('remark')?.hasError('required') && createForm.get('remark')?.touched) {
        <small class="text-danger">
          Remark is required.
        </small>
        }


      </div>
      <div class="col-md-4 mb-3">
        <label class="mb-1">Date of Birth</label>
        <input type="date" class="form-control" formControlName="date_of_birth" placeholder="yyyy-mm-dd"/>

        @if (createForm.get('DOB')?.hasError('required') && createForm.get('DOB')?.touched) {
          <small class="text-danger">
            DOB is required.
          </small>
          }

      </div>
      <div class="col-md-4 mb-3">
        <label class="mb-1">Anniversary Date</label>
        <input type="date" class="form-control" formControlName="anniversary_date" placeholder="yyyy-mm-dd"/>

        @if (createForm.get('anniversary_date')?.hasError('required') && createForm.get('anniversary_date')?.touched) {
          <small class="text-danger">
            Anniversary Date is required.
          </small>
          }
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 mb-3">
        <label class="mb-1">GSTIN</label>
        <input type="text" class="form-control" formControlName="gstin" />

        <!-- @if (createForm.get('gstin')?.hasError('required') && createForm.get('gstin')?.touched) {
        <small class="text-danger">
          GSTIN is required.
        </small>
        } -->

        @if (createForm.get('gstin')?.hasError('pattern') && createForm.get('gstin')?.touched) {
          <small class="text-danger">
            GSTIN number is invalid. Format: ABCDE12345W
          </small>
          }


      </div>
      <div class="col-md-4 mb-3">
        <label class="mb-1">PAN No</label>
        <input type="text" class="form-control" formControlName="pan_no" />

        @if (createForm.get('pan_no')?.hasError('required') && createForm.get('pan_no')?.touched) {
        <small class="text-danger">
          PAN No is required.
        </small>
        }

        @if (createForm.get('pan_no')?.hasError('pattern') && createForm.get('pan_no')?.touched) {
          <small class="text-danger">
            PAN number is invalid. Format: AAAAA9999A
          </small>
          }


      </div>
      <div class="col-md-4 mb-3">
        <label class="mb-1">Credit Limit</label>
        <input type="text" class="form-control" formControlName="credit_limit" />

        @if (createForm.get('credit_limit')?.hasError('required') && createForm.get('credit_limit')?.touched) {
        <small class="text-danger">
          Credit Limit is required.
        </small>
        }

        @if (createForm.get('credit_limit')?.hasError('pattern') &&(!createForm.get('credit_limit')?.hasError('required')) && createForm.get('credit_limit')?.touched) {
          <small class="text-danger">
            Please, Enter Number.
          </small>
          }


      </div>
    </div>

    <div class="row">
      <div class="col-md-4 mb-3">
        <label>Login Access</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" [value]=true formControlName="login_access" />
          <label class="form-check-label" for="isRequiredYes">True</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" [value]= false formControlName="login_access" />
          <label class="form-check-label" for="isRequiredNo">False</label>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label>Apply TDS</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" value="true" formControlName="apply_tds" />
          <label class="form-check-label" for="isRequiredYes">True</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" value="false" formControlName="apply_tds" />
          <label class="form-check-label" for="isRequiredNo">False</label>
        </div>
      </div>

      <div class="col-md-4 mb-3">
        <label>Image</label>
        <input id="image" type="file" (change)="onFileSelected($event)" class="form-control"  formControlName="image">
      </div>
    </div>


      <h4>Address Details</h4>

      <div formArrayName="address" class="mt-2">
        @for (addressRow of addressControls; track addressRow;let i = $index) {
        <div class="card mt-2" [formGroup]="addressRow">
          <div class="card-body">
            <div class="row">
              <div class="col-md-4 mb-3">
                <label>Address 1</label>
                <input type="text" class="form-control" formControlName="address_line_1" />
              </div>
              <div class="col-md-4 mb-3">
                <label>Address 2</label>
                <input type="text" class="form-control" formControlName="address_line_2" />
              </div>
              <div class="col-md-4 mb-3">
                <label>Country</label>
                <input type="text" class="form-control" formControlName="country" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 mb-3">
                <label>State</label>
                <input type="text" class="form-control" formControlName="state" />
              </div>
              <div class="col-md-4 mb-3">
                <label>City</label>
                <input type="text" class="form-control" formControlName="city" />
              </div>
              <div class="col-md-4 mb-3">
                <label>Pincode</label>
                <input type="text" class="form-control" formControlName="pincode" />
              </div>
            </div>
          </div>
        </div>
        }
      </div>


      <div class="col-lg-12 d-flex justify-content-end mt-2">
        <button type="button" class="btn btn-primary text-left" (click)="addNewAddress()">
          Add Address
        </button>
      </div>

   

      <h4  class="mt-3">Bank Details</h4>

    <div formArrayName="bank" class="mt-2">
      @for (bankRow of bankControls; track bankRow;let i = $index) {
      <div class="card mt-2">
        <div class="card-body" [formGroup]="bankRow">
          <div class="row">
            <div class="col-md-4 mb-3">
              <label>IFSC Code</label>
              <input type="text" class="form-control" formControlName="bank_ifsc_code" />
            </div>
            <div class="col-md-4 mb-3">
              <label>Bank Name</label>
              <input type="text" class="form-control" formControlName="bank_name" />
            </div>
            <div class="col-md-4 mb-3">
              <label>Branch Name</label>
              <input type="text" class="form-control" formControlName="branch_name" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 mb-3">
              <label>Account No</label>
              <input type="text" class="form-control" formControlName="account_no" />
            </div>
            <div class="col-md-4 mb-3">
              <label>Account Holder Name</label>
              <input type="text" class="form-control" formControlName="account_holder_name" />
            </div>
          </div>
        </div>
      </div>
      }
    </div>


    <div class="col-lg-12 d-flex justify-content-end mt-2">
      <button type="button" class="btn btn-primary" (click)="addNewBank()">Add Bank</button>
    </div>



    <div class="mt-3 pull-right">
      <button type="button" class="btn btn-secondary mr-2" (click)="backButton()">
        Back
      </button>
    
      <button type="button" class="btn btn-primary" (click)="create()">Submit</button>

      
    </div>


  </form>
</div>